body {
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  animation: changeColor infinite alternate 30s;
}

.clock-container {
  position: absolute;
  left: 21%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: orange; */
  width: 850px;
  height: 850px;
}

.clock-face {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  /* background-color: aqua; */
}

.clock-center {
  position: absolute;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: yellow;
  z-index: 11;
  /* display: flex; */
}

.hand {
  z-index: 10;
  --rotation: 30;
  position: absolute;
  left: 50%;
  bottom: 49%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.hand.hour {
  border: solid yellow 1px;
  height: 200px;
  width: 3px;
  background-color: cyan;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.hand.minute {
  border: solid yellow 1px;
  height: 260px;
  width: 3px;
  background-color: cyan;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.hand.second {
  border: 1px solid white;
  height: 180px;
  width: 2px;
  background-color: red;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.number {
  --rotation: 0;
  font-style: oblique;
  transform: rotate(var(--rotation));
  position: absolute;
  text-align: center;
  font-size: 60px;
  width: 750px;
  height: 750px;
}

.twelve {
  color: yellow;
}

.one {
  color: cyan;
  --rotation: 30deg;
}
.two {
  color: cyan;

  --rotation: 60deg;
}
.three {
  color: yellow;

  --rotation: 90deg;
}
.four {
  color: cyan;

  --rotation: 120deg;
}
.five {
  color: cyan;

  --rotation: 150deg;
}
.six {
  color: yellow;

  --rotation: 180deg;
}
.seven {
  color: cyan;

  --rotation: 210deg;
}
.eight {
  color: cyan;

  --rotation: 240deg;
}
.nine {
  color: yellow;
  --rotation: 270deg;
}
.ten {
  color: cyan;

  --rotation: 300deg;
}
.eleven {
  color: cyan;

  --rotation: 330deg;
}
/* digital */
.digitalClockContainer {
  border-radius: 5px;
  border: 3px solid cyan;
  position: relative;
  right: 50px;
  width: 170px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  margin: 5px;
  background-color: black;
  color: yellow;
  font-size: 40px;
  font-style: oblique;
}
#hours {
  width: 50px;
}
#minutes {
  width: 80px;
}
#seconds {
  width: 50px;
}
.colon {
  color: cyan;
  font-size: xx-large;
}
