* {
  padding: 0%;
  margin: 0%;
}
body {
  height: 100vh;
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-container {
  position: absolute;
  height: 550px;
  width: 550px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: orange; */
}

@media screen and (max-width: 430px) {
 body {
     display: flex;
     align-items: center;
     justify-content: center;

   }
  }
.clock-center {
  position: relative;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: yellow;
  z-index: 14;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand {
  z-index: 10;
  --rotation: 30;
  position: absolute;
  left: 50%;
  bottom: 49%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.hand.hour {
  border: solid yellow 1px;
  height: 120px;
  width: 3px;
  background-color: cyan;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
@media screen and (max-width: 430px) {
 .hand.hour {
    width: 2px;
    height: 60px;
  }
  
}
.hand.minute {
  border: solid yellow 1px;
  height: 170px;
  width: 3px;
  background-color: cyan;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
@media screen and (max-width: 430px) {
  .hand.minute {
    width: 1.5px;
    height: 90px;
  }
 
}
.hand.second {
  border: 1px solid white;
  height: 120px;
  width: 2px;
  background-color: red;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
@media screen and (max-width: 430px) {
 .hand.second {
    width: 2px;
    height: 60px;
  }
  
}

.number {
  --rotation: 0;
  font-style: oblique;
  transform: rotate(var(--rotation));
  position: absolute;
  text-align: center;
  font-size: 60px;
  width: 550px;
  height: 550px;
}
@media screen and (max-width: 430px) {
  .number {
    font-size: 30px;
    width: 300px;
    height: 300px;
  }
 
}
.twelve {
  color: yellow;
}

.one {
  color: cyan;
  --rotation: 30deg;
}
.two {
  color: cyan;

  --rotation: 60deg;
}
.three {
  color: yellow;

  --rotation: 90deg;
}
.four {
  color: cyan;

  --rotation: 120deg;
}
.five {
  color: cyan;

  --rotation: 150deg;
}
.six {
  color: yellow;

  --rotation: 180deg;
}
.seven {
  color: cyan;

  --rotation: 210deg;
}
.eight {
  color: cyan;

  --rotation: 240deg;
}
.nine {
  color: yellow;
  --rotation: 270deg;
}
.ten {
  color: cyan;
  --rotation: 300deg;
}
.eleven {
  color: cyan;
  --rotation: 330deg;
}
/* digital */
.digitalClockContainer {
  border-radius: 5px;
  border: 3px solid cyan;
  position: relative;
  left: 130px;
  width: 100px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width:430px) {
  .digitalClockContainer{
    margin: 2px;
    height: 15px;
    width: 85px;
    position: relative;
    left:70px;

  }
  
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: yellow;
  font-size: 20px;
  font-style: oblique;
}
@media (max-width:430px) {
  .time{
    margin: 2px;
    font-size: 20px;

  }
  
}
/* #hours {
  width: 50px;
}
#minutes {
  width: 80px;
}
#seconds {
  width: 50px;
 } */
.colon {
  color: cyan;
  font-size: xx-large;
}
